@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Bruno+Ace&family=Bungee+Spice&family=Dancing+Script&family=Dongle:wght@700&family=Edu+NSW+ACT+Foundation&family=Gajraj+One&family=Lobster&family=Oswald&family=Pacifico&family=Philosopher:ital,wght@1,700&family=Poppins&family=Satisfy&family=Tangerine:wght@700&family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Tangerine', cursive;
}

body{
    overflow: hidden;
    position: relative;
}
section{
    height: 100vh;
    background: linear-gradient(to bottom, #032841, #0a2e51);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 5em;
    color:bisque;
    position: relative;
}
h2::before{
    content: '';
    position: absolute;
    top: -100px;
    left: -130px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-left: 10px solid #fff;
    transform: rotate(-30deg);

}
.image{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 450px;
    background-image:url(mosque.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.star{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px aliceblue,
                0 0 20px aliceblue,
                0 0 40px aliceblue,
                0 0 80px aliceblue;
    animation: animate linear infinite ;
}
@keyframes animate{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}